$primary50: #e9fcef;
$primary100: #d3f8e0;
$primary200: #a6f2c1;
$primary400: #4de582;
$primary500: #20d760;
$primary600: #1ab24f;
$primary700: #14853b;

$grey50: #f9fafb;
$grey100: #f2f4f7;
$grey200: #eaecf0;
$grey300: #d0d5dd;
$grey400: #98a2b3;
$grey500: #667085;
$grey700: #344054;
$grey900: #101828;

$success50: #ecfdf3;
$success500: #12b76a;
$success600: #039855;

$indigo500: #6172f3;
$indigo50: #eef4ff;

$orange50: #fff6ed;
$orange400: #fd853a;

$error50: #fef3f2;
$error400: #f97066;
$error500: #f04438;

$warning400: #fdb022;
